<footer class="footer">
  <div class="container">
    <div class="site-title-wrapper">
      <a class="js-ajax-link button-square" title="{{@blog.title}}" href="{{@blog.url}}">{{@blog.title}}</a>
      <a class="button-square button-jump-top js-jump-top" href="#"><i class="fa fa-angle-up"></i></a>
    </div>

    {{> footer-text}}
  </div>
</footer>

{{! Ghost outputs important scripts and data with this tag }}
{{ghost_foot}}

{{! All other scripts }}
<script type="text/javascript" src="{{asset "js/rabit.min.js"}}"></script>
{{> google-fonts}}
{{> ga}}
{{> prettyprint}}
